body {
    font-family: 'Averta Standard Regular';
    font-size: 16px;
    overflow-x: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

header.header {
    position: fixed;     /* Cố định thanh menu */
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 999999;       /* Đảm bảo hiển thị trên các phần tử khác */
    background-color: #fff; 
    box-shadow: 0 4px 4px rgba(88, 88, 88, 0.175); /* Bóng mờ mượt hơn */
    background-size: cover;
}

@media (max-width:570.4px){
    header.header{
        position: relative;
    }

    .col-6 {
        width: 50% !important;
    }

    .google-auto-placed {
        display: none !important;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container ::after, ::before {
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


img {
    vertical-align: middle;
    border-style: none;
}

header.header .item {
    text-align: center;
    text-transform: uppercase;
    color: #1791cc;
    line-height: 0;
}

header.header .item i {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

header.header .item span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0px;

}

@media (min-width: 576px) {
    .d-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*2 wrap*/
@media (max-width:570.4px){
    .bg-wrap {
        width: 540px !important;
        position: absolute !important;
    }
}

.bg-wrap {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 90%; /* Điều chỉnh theo nội dung */
    
    background: white;
    margin-bottom: 20%;
    padding: 10px;
}
/*menu-wrap*/
.menu-wrap {
    /* Ẩn mặc định nhưng vẫn giữ không gian */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.menu-wrap.show {
    max-height: 800px; /* Hoặc giá trị đủ để chứa nội dung */
    opacity: 1;
    /*transform: translateY(0);*/
}

.menu-wrap .img {
    position: relative;
    display: inline-block;
}

.menu-wrap .img::before,
.menu-wrap .img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.menu-wrap .img:hover::before,
.menu-wrap .img:hover::after {
    animation: flashEffect 0.6s ease-out;
}

/* Định nghĩa hiệu ứng Flash */
@keyframes flashEffect {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

/* Tùy chỉnh vòng tròn ngoài */
.menu-wrap .img::before {
    width: 50px;
    height: 50px;
    background-color: rgba(16, 144, 166, 0.2);
}

.menu-wrap .img::after {
    width: 50px;
    height: 50px;
    border: 7px solid rgba(36, 159, 201, 0.863);
}

.animation {
    position: relative;
}

.animation::before, .animation::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.animation:hover::before,
.animation:hover::after {
    animation: flashEffect 0.6s ease-out;
}

.animation::before {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.animation::after {
    width: 40px;
    height: 40px;
    border: 8px solid rgba(36, 159, 201, 0.863);
}

.bg-white {
    background-color: #fff !important;
}

.term-wrap .item img {
    display: block;
    margin: 10px auto;
    height: 60px;
    object-fit: scale-down;
}

.term-wrap .item {
    text-align: center;
    box-shadow: 0 10px 18px 0 rgba(5, 16, 44, .15);
    padding: 10px;
    color: #444;
    line-height: 1.8;
    font-size: 14px;
    border-radius: 4px;
    
    flex: 0 0 auto;
}

.term-wrap .item span {
    display: block;
    color: #1791cc;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin: 5px auto;
}

@media (min-width: 576px) {
    .mt-sm-0, .my-sm-0 {
        margin-top: 0 !important;
    }
}

h2.h2 {
    
    text-transform: uppercase;
    font-size: 18px;
    color: #1791cc;
    font-weight: 800;
}

.extensions .item i {
    position: relative;
    width: 50px;
    height: 50px;
    background: #1791cc1f;
    border-radius: 100%;
    color: #1791cf;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.extensions .item span {
    display: block;
    padding: 10px;
    color: #1791cc;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
/*search-wrap*/
.search-wrap {
    /* Ẩn mặc định nhưng vẫn giữ không gian */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.search-wrap.show {
    max-height: 800px; /* Hoặc giá trị đủ để chứa nội dung */
    opacity: 1;
    /*transform: translateY(0);*/
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

@media (min-width: 576px) {
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.border-danger {
    border-color: #dc3545 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.select-container {
    flex-grow: 1; /* Cho phép mở rộng hết phần còn lại */
    position: relative;
}

.select-container select {
    width: 100%;
    padding-right: 30px; /* Chừa chỗ cho icon */
    appearance: none; /* Ẩn mũi tên mặc định */
}

.select-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Không ảnh hưởng đến thao tác */
}

.input-group-prepend .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0;
}

/*slider*/
.containers{
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1300px;
    height: 600px;
    background: #f5f5f5;
    /*box-shadow: 0 30px 50px #dbdbdbca;
    width: 570px;
    height: 400px;*/
}

.containers .slide .items{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    border-radius: 20px;
    /*box-shadow: 0 30px 50px #505050;
    width: 100px;
    height: 100px;
    */
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.items {
    box-shadow: 0 10px 30px #505050;
}

.items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
}

.slide .items:nth-child(1),
.slide .items:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

/* Media query cho màn hình nhỏ hơn 570.4px */
@media (max-width: 570.4px) {
    .containers {
        width: 100%;
        height: 400px;
    }

    .containers .slide .items:nth-child(n + 3) {
        width: 100px;
        height: 100px;
        top: 115%;
    }

    .slide .items:nth-child(3) {
        left: 1% !important;
    }

    .slide .items:nth-child(4) {
        left: calc(1% + 120px) !important;
    }

    .slide .items:nth-child(5) {
        left: calc(1% + 240px) !important;
    }

    .slide .items:nth-child(n + 6) {
        left: calc(10% + 360px) !important;
        opacity: 0;
    }
    
    video {
        width: 510px !important;
    }

}

.slide .items:nth-child(3){
    left: 50%;
}
.slide .items:nth-child(4){
    left: calc(50% + 220px);
}
.slide .items:nth-child(5){
    left: calc(50% + 440px);
}

.slide .items:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.slide .items:nth-child(2)::before {
    background: rgba(90, 90, 90, 0.418); /* Làm tối hơn cho ảnh lớn nhất */
}

.items .contents{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 360px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    z-index: 2; /* Hiển thị trên overlay */
}

.slide .items:nth-child(2) .contents{
    display: block;
}

.contents .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.contents .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.contents button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    border-radius: 8px;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    padding-right: 50%;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: none; 
    transition: 0.3s;
    background-color: transparent;
    color: #fff;
}

.button button:hover{
    background-color: transparent;
    color: #ffffff;
}

/*div đầu*/
.term-owl .item {
    position: relative;
}

.term-owl .item .text {
    position: absolute;
    left: 10px;
    text-align: left;
    top: 10px;
    color: #fff;
    z-index: 2;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.term-owl .item .text > div.text-uppercase {
    border-left: 2px solid #fff;
}

.text-uppercase {
    text-transform: uppercase !important;
}
/*
.term-owl .item .text span {
    font-family: "none";
}
*/
.term-owl .item .text strong {
    font-weight: bold;
}

.h4, .h4 {
    font-size: 1.5rem;
}

.box {
    background: #fff;
    border-radius: 20px;
    padding: 6px 10px;
    display: inline-block;
    justify-content: center;
}

.term-owl .item .text a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.term-owl .item img {
    height: 222px;
    object-fit: cover;
}

.term-owl .col-md-4 .item .img:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.w-100 {
    width: 100% !important;
}

.term-owl .item:hover:before {
    transform: scaleX(1);
    opacity: 1;
    z-index: 1;
}

.term-owl .item:before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
}

.term-owl .item:hover:after {
    transform: scaleY(1);
    opacity: 1;
    z-index: 1;
}

.term-owl .item:after {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: scaleY(0);
}

.term-owl .item:before, .term-owl .item:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 18;
    z-index: 1;
}

.term-owl .col-md-4:nth-child(1n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, rgb(23 145 204), rgb(32 147 201 / 40%));
}

.term-owl .col-md-4:nth-child(2n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, rgb(207 27 58), rgb(212 24 54 / 43%));
}

.term-owl .col-md-4:nth-child(3n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, rgb(8 161 72), rgb(0 161 75 / 22%));
}

.term-owl .col-md-4:nth-child(4n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, #ffc107, rgb(0 161 75 / 22%));
}

.term-owl .col-md-4:nth-child(5n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, #ff5722, rgb(0 161 75 / 22%));
}

.term-owl .col-md-4:nth-child(6n) .item .img:before {
    background: -webkit-linear-gradient(bottom left, #9c27b0, rgb(0 161 75 / 22%));
}

/*div 2*/
.post-wrap .item span.date {
    color: #1791cc;
    font-size: 13px;
}

.font-weight-bold {
    font-weight: 600 !important;
    font-size: 18px;
}

.view-all {
    background: #1791cc;
    border-radius: 30px;
    padding: 2px 20px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 18px 0 rgba(5, 16, 44, .15);
}

/*div 3*/
.blog-wrap .item a.post-title {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: #444;
    font-size: 17px;
    overflow: hidden;
}

.blog-wrap .item span > a {
    color: #999;
}

.blog-wrap .item {
    box-shadow: rgba(34, 34, 34, 0.07) 3px 3px 9px 0px;
}

.entry-category {
    color: #999;
}
/*slide 2*/
/*
.alt-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-container2 {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fff;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.slide2 {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot.active {
    background-color: #007bff;
}
*/
/*footer*/
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 18.5px;
}

footer.footer {
    background: #2b2c2d;
    color: #fff;
}

@media (min-width: 992px) {
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

footer.footer h4 {
    position: relative; /* Giúp phần tử con (before, after) xác định đúng vị trí */
    padding-bottom: 10px; /* Tạo khoảng cách giữa chữ và gạch */
}

footer.footer h4:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #007bff;
}

footer.footer h4:after {
    content: "";
    position: absolute;
    left: 0;
    width: 30%;
    bottom: 0px; /* Dịch xuống một chút */
    height: 3px;
    background-color: #007bff;
}

footer.footer span.d-block > i {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    background: #1791cc;
    border-radius: 5px;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.post-title {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

footer.footer ul.category li {
    display: block;
    text-align: left;
    overflow: hidden;
}

footer.footer ul.category li a {
    padding: 5px 0;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

footer.footer ul.category li span {
    float: right;
}

.dejavu { 
    border-radius: 50%; 
    width: 35px; 
    height: 35px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
}

.copyright {
    background-color: #007bff;
    padding: 10px 10px;
}

footer.footer .copyright ul.menu li {
    padding: 5px 10px 5px 0;
    color: #1b75bb;
    display: inline-block;
}

/*footer hỗ trợ*/
.zalo-button {
    position: fixed;
    bottom: 100px; /* Cách đáy 20px */
    right: 20px; /* Cách phải 20px */
    width: 50px;
    height: 50px;
    background-color: #e05c0c; /* Màu nền xanh */
    border-radius: 50%; /* Bo tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Hiệu ứng khi rê chuột */
.zalo-button:hover {
    transform: scale(1.1); /* Phóng to nhẹ */
}

/* Ảnh Zalo */
.zalo-button img {
    width: 30px;
    height: 30px;
    animation: shakeAndZoom 0.8s infinite ease-in-out;
}

@keyframes shakeAndZoom {
    
    0% { transform: scale(0.5) rotate(0deg); }
    25% { transform: scale(1.1) rotate(-20deg); }
    50% { transform: scale(1.1) rotate(20deg); }
    75% { transform: scale(1.1) rotate(-20deg); }
    100% { transform: scale(0.5) rotate(0deg); }
    /*
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }*/
}
/*
@keyframes shakeAndZoom {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.8) rotate(-5deg); }
    50% { transform: scale(1.8) rotate(5deg); }
    75% { transform: scale(1.8) rotate(-5deg); }
    100% { transform: scale(1) rotate(0deg); }
}*/

/*scroll button move page up*/
.fa-arrow-up {
    color: #e05c0c;
}
  
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent;
    color: #e05c0c;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none; /* Mặc định ẩn nút */
    cursor: pointer;
    
}
  
#scrollToTopBtn svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.5s ease, stroke 0.5s ease; /* Thêm hiệu ứng chuyển đổi màu */
}
  
  #scrollToTopBtn.show-circle svg circle {
    stroke-dasharray: 159.513; /* Chu vi vòng tròn */
    stroke-dashoffset: 0; /* Vẽ đầy vòng tròn */
}

/*khung info box*/
.info-box {
    background-color: #fff;
    border-radius: 15px;
    padding-top: 20px ;
    width: fit-content;
    gap: 40px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    font-weight: 600 !important;
    font-size: 18px;
    transition: color 0.3s ease;
}
.item3 i {
    width: 20px;
    text-align: center;
    color: #2b2c2d;
    font-size: 18px;
}

a:hover {
    color: #007BFF;
}

/*khung thông tin*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    max-width: 1300px;  /* Cố định độ rộng khung hình */
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* Thêm để dễ dàng căn chỉnh nội dung */
    gap: 20%;
}

.hero-container img {
    width: 100%;
    height: 300px; /* Cố định chiều cao */
    object-fit: cover;  /* Đảm bảo hình ảnh sẽ phủ toàn bộ không gian mà không bị biến dạng */
    display: block; /* Loại bỏ khoảng cách dưới ảnh */
    transition: transform 0.5s ease; 
}

.hero-content {
    position: absolute; /* Để đặt nội dung lên trên hình ảnh */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Căn giữa nội dung */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 100px 100px;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 100%;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.hero-content h1, .hero-content button {
  transition: transform 0.5s ease; /* Thêm hiệu ứng zoom cho h1 và button */
}

.hero-container:hover img {
    transform: scale(1.1); /* Phóng to hình ảnh */
}

.hero-container:hover .hero-content h1, .hero-container:hover .hero-content button {
  transform: scale(1.1); /* Phóng to h1 và button */
}

/* Thiết lập cho khung ngoài */
.outer-container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 20px 0;
}

/* Thiết lập cho khung trong */
.inner-container {
    display: flex; /* Sử dụng flexbox để sắp xếp các khung ngang đều nhau */
    width: 1300px; /* Độ rộng khung là 1300px */
    justify-content: space-between; /* Tạo khoảng cách đều giữa các khung */
}

/* Thiết lập cho từng khung ngang bên trong */
.box2 {
    width: 30%; /* Mỗi khung chiếm 30% chiều rộng của container */
    height: 100px;
    margin: 5px; /* Khoảng cách giữa các khung */
    text-align: center;
}

@media (max-width: 570.4px) {
    .inner-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box2 {
        width: 45%;      /* Hai khung đầu vẫn nằm cùng dòng */
        margin: 10px;    /* Khoảng cách đều nhau */
    }

    .box2:nth-child(1),.box2:nth-child(2) {
        display: flex;
        /* Giữ nguyên vị trí hàng đầu */
    }

    .box2:nth-child(3),.box2:nth-child(4),.box2:nth-child(5),.box2:nth-child(6) {
        flex-wrap: wrap;
    }
}

/*Tostuka*/
.outer-container2 {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 20px 0;
}

/* Thiết lập cho khung trong */
.inner-container2 {
    display: flex; /* Sử dụng flexbox để sắp xếp các khung ngang */
    width: 1300px; /* Độ rộng khung là 1300px */
}

/* Thiết lập cho khung bên trái */
.left-box {
    width: 30%; /* Khung bên trái chiếm 30% chiều rộng của container */
    height: 300px; /* Chiều cao của khung */
    margin-right: 20px; /* Khoảng cách giữa hai khung */
    overflow: hidden; /* Đảm bảo không có phần hình ảnh vượt ra ngoài khung */    
}

.left-box .image {
    width: 100%; /* Đảm bảo hình ảnh chiếm hết chiều rộng của khung */
    height: 100%; /* Đảm bảo hình ảnh chiếm hết chiều cao của khung */
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng, cắt bớt phần dư thừa nếu cần */
}

@media (max-width: 570.4px) {
    .inner-container2 {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }

    .left-box, .right-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .left-box {
        height: auto;
        display: flex;
        justify-content: center; /* ✅ Căn giữa hình ảnh trong box */
    }

    .left-box img {
        width: 100%;
        max-width: 350px; /* ✅ Không cho hình quá lớn */
        height: auto;
    }

    .right-box {
        width: 500px !important;
    }

    .col-inner {
        padding: 0 !important;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: 50%; /* Mỗi hàng chứa 2 khung */
        margin-bottom: 20px; /* Khoảng cách giữa các hàng */
    }
}

.row2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* Thiết lập cho khung bên phải */
.right-box {
    width: 70%; /* Khung bên phải chiếm 60% chiều rộng của container */
    height: auto; /* Chiều cao tự động tùy theo nội dung */
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo các phần tử không bị đè lên nhau */
    justify-content: space-between; /* Căn đều các phần tử */
    gap: 20px; /* Khoảng cách giữa các khung */
    margin-top: 20px;
}

/* Thiết lập cho từng item */
.col {
    width: 30%; /* Chiều rộng của mỗi khung */
    box-sizing: border-box;
}

.col-inner {
    background-color: #fff; /* Màu nền của từng item */
    border-radius: 8px; /* Góc bo tròn */
    text-align: center;
    padding: 10px;
}

.box-image {
    width: 80%; /* Đặt chiều rộng hình ảnh */
    margin: 0 auto;
}

.box-image img {
    width: 100%; /* Hình ảnh chiếm toàn bộ chiều rộng */
    height: auto; /* Đảm bảo tỉ lệ hình ảnh không bị biến dạng */
}

/* Căn chỉnh chữ dưới mỗi hình ảnh */
.box-text {
    margin-top: 10px;
}

.box-text h5 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/*khung đánh giá*/
@media (max-width: 570.4px) {
    .boxes {
      flex-direction: column;
    }
  
    .top-row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  
    .top-row .box {
      width: 50%; /* hoặc 100% nếu bạn muốn chúng xuống hàng luôn */
    }
  }

.top-row {
    display: flex;
    gap: 10px;
  }

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* khoảng cách giữa các khung */
    margin-top: 20px;
    flex-wrap: wrap;
}

.box3 {
    display: block;
    width: 298px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.box3 .text-decoration h4 {
    font-size: 18px;
    font-weight: 500;
}

.box3:hover {
    color: #626161;
}

.img3 {
    position: relative;
    width: 100%;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}

.img3 img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.box-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8); /* nền mờ */
    padding: 10px 10px;
    font-size: 18px;
}

.rating {
    color: orange;
    font-size: 14px;
    margin-bottom: 5px;
}

.rating span {
    color: #666;
    font-size: 12px;
    margin-left: 5px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.info {
    font-size: 13px;
    color: #444;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.share-btn {
    background-color: #1877f2;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
}

.desc {
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}

.approved {
    background-color: #e3f6ff;
    color: #0284c7;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
}

/*weather*/
.weather-box {
    border: 1px solid #ddd;
    padding: 24px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: left;
  }
  
  .weather-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .season {
    width: 23%;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .season div {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
  }
  
  .season span {
    color: #888;
    font-size: 16px;
    margin-left: 4px;
  }
  
  .season p {
    font-size: 14px;
    color: #555;
    margin-top: 6px;
  }
  
  .general-info {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  
  .general-info .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .general-info .row > div {
    width: 23%;
    min-width: 200px;
  }
  
  .general-info strong {
    font-size: 14px;
    color: #000;
  }
  
  .general-info p {
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
  }
  
  .general-info span {
    font-size: 13px;
    color: #777;
  }
  
  .temp-toggle button {
    padding: 6px 12px;
    margin-left: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }

  .temp-toggle button.active {
    background-color: black;
    color: white;
  }
  
  .cordy{
    border: 1px solid #ddd;
  }
  
  .accordion {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .accordion-header {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 15px 20px;
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;
  }

  .accordion-header::after {
    content: 'v';
    float: right;
    transition: transform 0.3s;
  }

  .accordion-header.active::after {
    transform: rotate(180deg);
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    transition: max-height 0.4s ease;
    padding: 0 20px;
  }

  .accordion-content p {
    margin: 15px 0;
  }

  .accordion-content.open {
    padding-top: 10px;
    padding-bottom: 15px;
  }

/**/
  .stay {
    width: 1300px;
    padding: 16px;
  }

  .link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 0;
    margin-top: 12px;
    list-style: none;
  }

  .link-list li {
    padding: 6px 12px;
    border: 1px solid #d49e3c;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    background-color: #fff8ec;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .link-list li:hover {
    background-color: #ffeac2;
    border-color: #c2841d;
  }

  @media (max-width: 570.4px) {
    .carousel-inner {
        width: 530px !important;
    }

    .carousel-indicators {
        margin-right: 20% !important;
        margin-bottom: 0 !important;
    }

    .stay {
        width: 520px !important;
    }
    .zalo-button{
        left: 450px;
    }
    #scrollToTopBtn{
        left: 450px;
    }
    .sammy {
        width: 530px !important;
    }
  }

  .sammy {
    width: 1300px;
    margin: 0 auto;
  }

  @media (max-width:480px){
    video {
        width: 400px !important;
    }

    .bg-wrap {
        width: 430px !important;
    }
    .carousel-inner {
        width: 430px !important;
    }
    .stay {
        width: 420px !important;
    }
    .right-box {
        width: 400px !important;
    }
    .zalo-button{
        left: 350px;
    }
    #scrollToTopBtn{
        left: 350px;
    }
    .sammy {
        width: 430px !important;
    }
    .contents {
        left: 10px !important;
    }
  }

  @media (max-width:384px){
    video {
        width: 350px !important;
    }

    .bg-wrap {
        width: 380px !important;
    }
    .carousel-inner {
        width: 330px !important;
    }
    .stay {
        width: 320px !important;
    }
    .right-box {
        width: 300px !important;
    }
    .zalo-button{
        left: 320px;
    }
    #scrollToTopBtn{
        left: 320px;
    }
    .sammy {
        width: 330px !important;
    }
    .contents {
        left: 1px !important;
    }
    .menu-wrap.show {
        max-height: 2000px !important;
    }
  }